{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-yellow-400 py-5">
    <div class="container mx-auto my-5">
        <div class="text-center text-gray-800">
            <h1 class="text-4xl font-bold">Update Info</h1>
            <p class="text-lg font-normal text-gray-800 mb-0">Update User Info...</p>
        </div>
    </div>
</header>

<div class="container mx-auto p-4">
    <div class="flex justify-center">
        <div class="w-full md:w-3/4 lg:w-1/2">
            <div class="bg-white shadow-md rounded p-6 mb-6">
                <strong class="text-xl font-semibold">Billing Information</strong>
                <br/><br/>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/><br/>
                    <strong class="text-xl font-semibold">Shipping Information</strong>
                    <br/><br/>
                    {{ shipping_form.as_p }}
                    <br/><br/>
                    <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                        Update Profile
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
